# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\WorkSpace\ScrollHighlight\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests
checkstyle-idea.xml
misc.xml
modules.xml
ScrollHighlight.iml
vcs.xml
